<!DOCTYPE html>
<html lang="en">

<head>
    <title>AGENT Portal</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/websockets/styles/index.css">
    <script type="text/javascript" src="/websockets/scripts/agent.js"></script>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>


    <div class="container mt-5">
        <h2 class="text-center mb-5">AGENT Portal</h2>
        <h1>Welcome <%=username%>!</h1>
        <div>
            <div class="form-group">
                <ul class="list-group" id="chat-screen">
                </ul>

            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="inputText" placeholder="Type here" aria-label="inputText"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="submit">send</button>
                </div>
            </div>
            <div id="suggest-container">
            </div>

        </div>
    </div>

</body>

<footer class="container">
    <hr>
  <%- include('../partials/footer'); %>
</footer>

</html>